@import url("https://fonts.cdnfonts.com/css/proxima-nova-2");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* =================================== variables =================================== */
:root{
    --color-white: #ffffff;
    --color-charcoal-grey: #3d4351;   
    --color-orange: #f69d52;
    --color-black: #000000;
    --color-light-purple: #3e3e58;
    --color-warm-gray: #979797;
    --color-light-gray: #f9fafa;
    --color-gray: #eeeeee;
    --color-cyan-green: #3dbdb6;
    --color-alpha-white: rgba(255, 255, 255, 0.2);
    --color-ocean-blue: #2d8cff;
    --color-coal-black: #4a4a4a;
    --color-blue-black: #39394d;
    --color-navy-blue: #1f2532;
}

/* ================================= utilities ================================== */

/* ===== Scrollbar CSS ===== */

  /* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--color-warm-gray) var(--color-blue-black);
}

  /* Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-blue-black);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-warm-gray);
    border-radius: 10px;
    border: 3px solid var(--color-blue-black);
}










/* ---container--- */
.container{
    width: 100%;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

/* ----clrearfix---- */
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}

/* autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* position */
.p--relative{
    position: relative;
}

/* ---texts--- */
.text--primary{
    font-family: 'Proxima Nova', sans-serif;
    font-size: 48px;
    line-height: 1.13;
    letter-spacing: -2.12px;
}
.text--semi-primary{
    font-family: 'Proxima Nova', sans-serif;
    font-size: 40px;
}
.text--secondary{
    font-family: 'Proxima Nova', sans-serif;
    font-size: 32px;
    line-height: 1.38;
    letter-spacing: 0.2px;
}
.text--tertiary{
    font-family: 'Proxima Nova', sans-serif;
    font-size: 16px;
    line-height: 1.56;
    letter-spacing: 0.2px;
}
.text--quaternary{
    font-family: 'Proxima Nova', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-ocean-blue);
}
.text--default{
    font-family: 'Proxima Nova', sans-serif;
    font-size: 18px;
}

/* ------colors------ */
.color--white{
    color: var(--color-white);
}
.color--black{
    color: var(--color-black) !important;
}
.color--ocean-blue{
    color: var(--color-ocean-blue);
}
.color--coal-black{
    color: var(--color-coal-black);
}
.color--blue-black{
    color: var(--color-blue-black);
}
.color--charcoal-gray{
    color: var(--color-charcoal-grey);
}
.color--inherit{
    color: inherit;
}
.bgcolor--transparent{
    background-color: transparent !important;
}

/* -----text-fonts------ */
.text-font--28{
    font-size: 28px;
}
.text-font--24{
    font-size: 24px;
}
.text-font--16{
    font-size: 16px;
}
.text-font--20{
    font-size: 20px;
}
.text-font--13{
    font-size: 13px;
}
.text-font--12{
    font-size: 12px;
}
.text-font--11{
    font-size: 11px;
}
.text-font--0{
    font-size: 0;
}

/* ---text-align--- */
.text--center{
    text-align: center;
}

/* ---line-height--- */
.line-height--default{
    line-height: 1.56;
}

.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.underline{
    text-decoration: underline;
}
.heading{
    font-weight: 600;
    letter-spacing: 0.4px;
    text-transform: capitalize;
}

/* ---button--- */
.btn{
    border-radius: 4px;
    cursor: pointer;
    text-transform: capitalize;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 14px;
    border: 0;
}
.btn--lg{
    width: 120px;
    padding: 17px;
    font-weight: normal;
}
.btn--sm{
    padding: 10px 20px;
}

.btn--green{
    background-color: var(--color-cyan-green);
    color: var(--color-white);
    letter-spacing: -0.32px;
}
.btn--green:hover{
    background-color: var(--color-white);
    color: var(--color-cyan-green);
    letter-spacing: -0.32px;
    transition: 300ms;
}
.btn--ghost{
    background-color: transparent;
    color: var(--color-white);
    border: 1px solid var(--color-warm-gray);
    opacity: 0.5;
    transition: 300ms;
}
.btn--ghost:hover{
    background-color: var(--color-white);
    color: var(--color-black);
    border: 1px solid var(--color-warm-gray);
    transform: translateY(-10%);
    opacity: 1;
}
.btn--white{
    background-color: var(--color-white);
    color: var(--color-cyan-green);
    letter-spacing: -0.32px;
}
.btn--blue{
    background-color: #20bbef;
    color: var(--color-white);

}

/* ---list & list items--- */
ul li{
    list-style: none;
}
.cta-link{
    display: inline-block;
    text-transform: capitalize;
    font-family: 'Proxima Nova', sans-serif;
}

/* ---margin--- */
.margin-bottom--30{
    margin-bottom: 30px;
}
.margin-bottom--20{
    margin-bottom: 20px !important;
}
.margin-bottom--10{
    margin-bottom: 10px !important;
}
.margin-bottom--50{
    margin-bottom: 50px;
}
.margin-bottom--40{
    margin-bottom: 40px;
}
.margin-bottom--70{
    margin-bottom: 70px;
}
.margin-bottom--80{
    margin-bottom: 80px;
}

/* ---- forms ---- */
.form-wrapper{
    border-radius: 4px;
    display: inline-flex;
    overflow: hidden;
}
.form--lg{
    width: 300px;
    padding: 16px;
    font-size: 16px;
    border: 0;
    background-color: var(--color-alpha-white);
    color: var(--color-white);
}
.form--lg::placeholder{
    color: var(--color-white);
}

/* ---chevron-right--- */
.chevron-right{
    border-right: 2px solid; 
    border-bottom: 2px solid;
    width: 6px;
    height: 6px;
    transform: rotate(-45deg);
    display: inline-block;
}
/* ---width--- */
.max-width--320{
    max-width: 320px !important;
}
.max-width--680{
    max-width: 680px !important;
}
/* ----page-logo--- */
.page__logo{
    opacity: 1 !important;
}
.page__logo img{
    width: 123px;
    height: 24px;
}

/* ===================== header ===================== */
header{
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 30px 0;
    transition: all 0.3s ease-out;
}
.header--scrolled{
    background-color: var(--color-light-purple);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
header ul > * + *{
    margin-left: 10px;
}
header .cta-link{
    color: var(--color-white);
    font-size: 14px;
    opacity: 0.5;
    transition: 200ms;
}
header .cta-link:hover{
    opacity: 1;
    transform: translateY(-10%);
}
/* -------for hamburger menu ------- */
.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    transition: all 300ms ease;
    background-color: var(--color-white);
}
.bar:last-child{
    margin-bottom: 0;
}

/* ======================home-section======================== */
.home{
    background-color: var(--color-light-purple);
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    position: relative;
    z-index: 0;
}
.home .container{
    position: relative;
    z-index: 2;
}
.home h1{
    max-width: 310px;
}
.home .form-wrapper{
    margin-top: 50px;
}
.home .btn{
    border-radius: 0;
}
.home__bg-img{
    position: absolute;
    z-index: 1;
    max-width: 712px;
    height: auto;
    right: 0;
    bottom: 40px;
}
.img-wrapper{
    width: 100%;
    background-color: var(--color-light-gray);
    padding: 40px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;    
}
.img-wrapper .container{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}


/* =======================footer====================== */
footer{
    background-color: var(--color-navy-blue);
    /* padding: 0 15px; */
}
footer .container{
    padding: 80px 15px;
    display: flex;
    justify-content: space-between;
}
.footer--links{
    display: flex;
    width: 70%;
    justify-content: space-between;
}
.footer--links ul{
    max-width: calc((100% - 300px) / 3);
    display: flex;
    flex-direction: column;
}
.footer--links ul li{   
    width: 100%;
}
.footer--links ul > * + *{
    margin-top: 20px;
}
.footer--links .cta-link{
    color: var(--color-white);
    font-size: 12px;
    font-weight: 100;
    opacity: 0.6;
    transition: 200ms;
}
.footer--links .cta-link:hover{
    opacity: 1;
}
.footer--heading{
    opacity: 1 !important;
    font-size: 13px !important;
    text-transform: uppercase;
    font-weight: normal;
}
.footer--links .text--default{
    opacity: 0.6;
    font-weight: 100;
}
.footer--socials{
    display: flex;
    width: 6%;
    justify-content: space-between;
}
.footer--socials a {
    height: 17px;
}
.footer--socials a img{
    width: 17px;
    height: 17px;
    fill: var(--color-white);
    opacity: 0.6;
    transition: 200ms;
}
.footer--socials a img:hover{
    opacity: 1;
}
.copyright{
    background-color: var(--color-light-purple);
    padding: 40px 0;
}
.copyright p{
    max-width: 850px;
    font-size: 12px;
    font-weight: 100;
    line-height: 2;
    color: var(--color-warm-gray);
    margin: 0 auto;
    text-align: center;
}
/* ======================contact========================= */
section.contact{
    background:linear-gradient(rgba(107, 163, 198, 0.303), rgba(72, 186, 212, 0.303)), url("./img/contact.jpg") no-repeat center center/cover;
    padding: 200px 0;
}



form textarea{
    height: 7rem;
}

form input,textarea{
    display: block;
    margin:15px auto;
    width: 60%;
    padding:30px;
    border:1px solid var(--color-white);
    background: transparent;
    color: var(--color-white);
    transition: var(--transition);
    font-size: 1rem;
}

form input:focus,textarea:focus{
    background: var(--color-white);
    color: var(--color-black);
}

form input::placeholder,textarea::placeholder{
    color:var(--color-white);font-size: 1rem;
}

form .btn{
    width:230px;
    background: var(--color-white);
    color: var(--color-black);
    font-size: 1.2rem;
    border:none;
    cursor: pointer;
    margin-top: 30px;
}

form .btn:hover{
    background: var(--color-cyan-green);
    color:var(--color-white);
}




/* ==============================media queries ================================ */

/* ================laptop design================ */
@media (max-width: 1024px){
    /* ---utilities--- */
    .form--lg{
        width: auto;
        max-width: 300px;
    }
    /* ---homesection--- */
    .home .form-wrapper{
        margin-top: 20px;
    }
    .img-wrapper{
        padding: 30px 0;
    }
    .home__bg-img{
        max-width: 500px;
        height: auto;
    }

    /* contact us page  */
    form input,textarea{
        width: 80%;
    }
}

/* ==============tablet design============= */


@media (max-width: 768px){
    /* ===== Scrollbar CSS ===== */

  /* Firefox */
    * {
        scrollbar-width: auto;
        scrollbar-color: var(--color-warm-gray) var(--color-blue-black);
    }

  /* Chrome, Edge, and Safari */
    ::-webkit-scrollbar {
        display: none;
    }

    ::-webkit-scrollbar-track {
        background: var(--color-blue-black);
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--color-warm-gray);
        border-radius: 10px;
        border: 3px solid var(--color-blue-black);
    }
    /* ---header--- */
    .navmenu{
        position: fixed;
        z-index: 12;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--color-light-purple);
        transition: 300ms;
        overflow: scroll;
        padding: 100px 20px;
    }
    .navmenu ul{
        flex-direction: column;
    }
    .navmenu ul li{
        margin: 0;
    }
    header .navmenu.active{
        left: 0%;
    }
    body.hamburger-active{
        overflow: hidden;
    }
    .hamburger{
        display: block;
        position: relative;
        z-index: 20;
    }
    .page__logo{
        position: relative;
        z-index: 20;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    /* ---service-section--- */
    .service li{
        margin-bottom: 40px;
    }
    .service li:last-child{
        margin-bottom: 0;
    }
    .service ul li{
        max-width: 300px;
    }
    /* ---about-section--- */
    .about ul{
        justify-content: space-evenly;
    }
    .about ul .text--default{
        margin-bottom: 10px;
    }
    .about .cta-link{
        margin-bottom: 20px;
    }
    /* ---footer--- */
    footer .container{
        flex-direction: column;
        align-items: center;
    }
    .footer--links{
        flex-direction: column;
        justify-content: space-between;
    }
    .footer--links ul{
        max-width: 100%;
    }
    .footer--links > * + *{
        margin-top: 40px;
    }
    .footer--socials{
        margin-top: 50px;
        width: 20%;
    }

/* ====================mobile-design====================== */
@media (max-width: 576px){
    /* ---utilities--- */
    .btn--lg{
        width: auto;
        max-width: 80px;
    }
    .form--lg{
        max-width: 200px;
        font-size: 16px;
    }
    .text--primary{
        font-size: 35px;
    }
    .text--semi-primary{
        font-size: 30px;
    }
    .text--secondary{
        font-size: 25px;
    }
    
    /* ---home--- */
    .home__bg-img{
        max-width: 300px;
    }
    .img-wrapper{
        padding: 10px 0;
    }
    /* ---service-section--- */
    .service{
        padding: 40px 0;
    }
    .service h2{
        margin-bottom: 20px;
    }
    .service .margin-bottom--30{
        margin-bottom: 10px;
    }
    /* ---about-section--- */
    .about h2{
        margin-bottom: 50px;
    }
    .about .banner{
        padding: 30px 0;
    }
    .banner img{
        max-width: 140px;
    }
}

/* ==================small mobiles=========== */
@media (max-width: 380px){
    /* ---utilities--- */
    .form--lg, .btn--lg{
        max-width: 130px;
        font-size: 10px;
    }
    /* ---home-section--- */
    .home__bg-img{
        bottom: 70px;
    }
    /* ---about-section--- */
    .banner .container{
        flex-direction: column;
    }
    .banner .text-container{
        margin-bottom: 30px;
    }
}
}